In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df=pd.read_csv('Visadataset.csv')
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

In [3]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**prevailing_wage**

- len
- max
- min
- mean
- median
- std
- 75%
- 50%
- 25%

In [4]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [5]:
len(visa_df['prevailing_wage'])

25480

**max**

In [6]:
max(visa_df['prevailing_wage']) #py

319210.27

In [7]:
visa_df['prevailing_wage'].max() #pd

319210.27

In [8]:
np.max(visa_df['prevailing_wage']) #np

319210.27

**min**

In [9]:
min(visa_df['prevailing_wage'])

2.1367

In [10]:
visa_df['prevailing_wage'].min()

2.1367

In [11]:
np.min(visa_df['prevailing_wage'])

2.1367

**mean**

In [12]:
np.mean(visa_df['prevailing_wage']) #np

74455.81459209183

In [13]:
visa_df['prevailing_wage'].mean() #pd

74455.81459209183

**median**

In [14]:
np.median(visa_df['prevailing_wage']) #np

70308.20999999999

In [15]:
visa_df['prevailing_wage'].median() #pd

70308.20999999999


**sd**

In [16]:
np.std(visa_df['prevailing_wage'])

52814.90589711402

In [17]:
visa_df['prevailing_wage'].std()

52815.94232687357

**Mode is not a good option because it is a numirical option**

In [18]:
##All together

In [20]:
wage_len=round(len(visa_df['prevailing_wage']),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2) #pd
wage_mean=round(visa_df['prevailing_wage'].mean(),2) #pd
wage_meadian=round(visa_df['prevailing_wage'].median(),2) #pd
wage_std=round(visa_df['prevailing_wage'].std(),2)

In [21]:
#df

In [23]:
l=[]
l.append(wage_len)
l.append(wage_min)
l.append(wage_max)
l.append(wage_mean)
l.append(wage_meadian)
l.append(wage_std)
l
#or
#list_values

[25480, 2.14, 319210.27, 74455.81, 70308.21, 52815.94]

In [24]:
index_val=['len','min','max','mean','median','std']

In [25]:
df=pd.DataFrame(l,index_val,columns=['prevailing_wage'])

In [26]:
df

        prevailing_wage
len            25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

**percentile and Quantile**
- percentile
    - np.percentile()
    - It will take two argument
      - data: a
      - percentile: q the values varies from 0 to 100
      - if you want **50P** data then you need to provide q=50 

- Quantile
    - np.percentile()
    - It will take two argument
      - data: a
      - Quantile: q the values varies from 0 to 1
      - if you want **50P** data then you need to provide q=0.5

In [27]:
#Percentile
wage_25=round(np.percentile(visa_df['prevailing_wage'],25),2)
wage_50=round(np.percentile(visa_df['prevailing_wage'],50),2)
wage_75=round(np.percentile(visa_df['prevailing_wage'],75),2)
print(f'The 25% data is: {wage_25}')
print(f'The 50% data is: {wage_50}')
print(f'The 75% data is: {wage_75}')

The 25% data is: 34015.48
The 50% data is: 70308.21
The 75% data is: 107735.51

In [29]:
#Quantile
wage_25=round(np.quantile(visa_df['prevailing_wage'],0.25),2)
wage_50=round(np.quantile(visa_df['prevailing_wage'],0.50),2)
wage_75=round(np.quantile(visa_df['prevailing_wage'],0.75),2)
print(f'The 25% data is: {wage_25}')
print(f'The 50% data is: {wage_50}')
print(f'The 75% data is: {wage_75}')

The 25% data is: 34015.48
The 50% data is: 70308.21
The 75% data is: 107735.51

**understanding the percentile**
- defination
    - there are 25%

In [30]:
# for 25percentile
con=visa_df['prevailing_wage']<34015
visa_df[con]
len(visa_df[con])

6370

In [31]:
#For 50 percentile
con=visa_df['prevailing_wage']<70308
visa_df[con]
len(visa_df[con])

12740

In [32]:
#For 75 percentile
con=visa_df['prevailing_wage']<wage_75
visa_df[con]
len(visa_df[con])

19110

**Empirical Rule**
- $68-95-99.7$

- First calculate mean value
- Second calculate std value
- con1: mean-1*std
- con2: mean+1*std
- If you apply above condition on wedge data, the output count should be equal to $68 percentile$ data
- 68% of total employees: 17326

In [33]:
v1=wage_mean-1*wage_std #con1  it nothing but mu-1sigma
v2=wage_mean+1*wage_std #con2
print(f'v1:{v1},v2:{v2}')
con1=visa_df['prevailing_wage']>v1
con2=visa_df['prevailing_wage']<v2
#con1 & con2
#visa_df[con1 & con2]
count1=len(visa_df[con1 & con2])
#################################
count1

v1:21639.869999999995,v2:127271.75

17171

In [34]:
# for 95 
v1=wage_mean-2*wage_std #con1  it nothing but mu-1sigma
v2=wage_mean+2*wage_std #con2
print(v1,v2)
con1=visa_df['prevailing_wage']>v1
con2=visa_df['prevailing_wage']<v2
#con1 & con2
#visa_df[con1 & con2]
count1=len(visa_df[con1 & con2])
#################################
count1, 95*25480/100

-31176.070000000007 180087.69

(24582, 24206.0)

In [35]:
# for 95 
v1=wage_mean-3*wage_std #con1  it nothing but mu-1sigma
v2=wage_mean+3*wage_std #con2
print(v1,v2)
con1=visa_df['prevailing_wage']>v1
con2=visa_df['prevailing_wage']<v2
#con1 & con2
#visa_df[con1 & con2]
count1=len(visa_df[con1 & con2])
#################################
count1, 99.7*25480/100

-83992.01000000001 232903.63

(25186, 25403.56)

In [36]:
wage_len=round(len(visa_df['prevailing_wage']),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2) #pd
wage_mean=round(visa_df['prevailing_wage'].mean(),2) #pd
wage_meadian=round(visa_df['prevailing_wage'].median(),2) #pd
wage_std=round(visa_df['prevailing_wage'].std(),2)
##############################################################
wage_25=round(np.quantile(visa_df['prevailing_wage'],0.25),2)
wage_50=round(np.quantile(visa_df['prevailing_wage'],0.50),2)
wage_75=round(np.quantile(visa_df['prevailing_wage'],0.75),2)
print(f'The 25% data is: {wage_25}')
###############################################################
list_values=[wage_len,wage_min,wage_max,wage_mean,wage_meadian,wage_std,
            wage_25,wage_50,wage_75]
index_val=['len','min','max','mean','median','std','25%','50%','75']
pd.DataFrame(list_values,index_val,columns=['prevailing_wage'])

The 25% data is: 34015.48

        prevailing_wage
len            25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94
25%            34015.48
50%            70308.21
75            107735.51

In [38]:
columns=visa_df.select_dtypes(exclude='object').columns
columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [39]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [49]:
cols=['no_of_employees', 'yr_of_estab', 'prevailing_wage']
list_values=[]
for i in cols:
    #countt=len(visa_df[i])
    min=round(visa_df[i].min(),2)
    max=round(visa_df[i].max(),2) #pd
    mean=round(visa_df[i].mean(),2) #pd
    meadian=round(visa_df[i].median(),2) #pd
    std=round(visa_df[i].std(),2)
##############################################################
    p_25=round(np.quantile(visa_df[i],0.25),2)
    p_50=round(np.quantile(visa_df[i],0.50),2)
    p_75=round(np.quantile(visa_df[i],0.75),2)
        #listprint(f'The 25% data is: {wage_25}'))
###############################################################
# list_values=[wage_len,wage_min,wage_max,wage_mean,wage_meadian,wage_std,
#             wage_25,wage_50,wage_75]
    list_values.append([len,min,max,mean,meadian,std,p_25,p_50,p_75])
index_val=['len','min','max','mean','median','std','25%','50%','75']
pd.DataFrame(list_values,cols,columns=list_values)

,<built-in function len>,-26,602069,5667.04,2109.0,22877.93,1022.0,2109.0,3504.0
,<built-in function len>,1800,2016,1979.41,1997.0,42.37,1976.0,1997.0,2005.0
,<built-in function len>,2.14,319210.27,74455.81,70308.21,52815.94,34015.48,70308.21,107735.51
no_of_employees,<built-in function len>,-26.00,602069.00,5667.04,2109.00,22877.93,1022.00,2109.00,3504.00
yr_of_estab,<built-in function len>,1800.00,2016.00,1979.41,1997.00,42.37,1976.00,1997.00,2005.00
prevailing_wage,<built-in function len>,2.14,319210.27,74455.81,70308.21,52815.94,34015.48,70308.21,107735.51

In [50]:
cols=['no_of_employees', 'yr_of_estab', 'prevailing_wage']
list_values=[]
for i in cols:
    #countt=len(visa_df[i])
    min=round(visa_df[i].min(),2)
    max=round(visa_df[i].max(),2) #pd
    mean=round(visa_df[i].mean(),2) #pd
    meadian=round(visa_df[i].median(),2) #pd
    std=round(visa_df[i].std(),2)
##############################################################
    p_25=round(np.quantile(visa_df[i],0.25),2)
    p_50=round(np.quantile(visa_df[i],0.50),2)
    p_75=round(np.quantile(visa_df[i],0.75),2)
        #listprint(f'The 25% data is: {wage_25}'))
###############################################################
# list_values=[wage_len,wage_min,wage_max,wage_mean,wage_meadian,wage_std,
#             wage_25,wage_50,wage_75]
    list_values.append([len,min,max,mean,meadian,std,p_25,p_50,p_75])
index_val=['len','min','max','mean','median','std','25%','50%','75']
# pd.DataFrame(list_values,index_val,columns=cols)
index_val

['len', 'min', 'max', 'mean', 'median', 'std', '25%', '50%', '75']

In [41]:
cols=['no_of_employees', 'yr_of_estab', 'prevailing_wage']
list_values1=[]
for i in cols:
    #len=round(len(visa_df[i]),2)
    min=round(visa_df[i].min(),2)
    max=round(visa_df[i].max(),2) #pd
    mean=round(visa_df[i].mean(),2) #pd
    meadian=round(visa_df[i].median(),2) #pd
    std=round(visa_df[i].std(),2)
##############################################################
    p_25=round(np.quantile(visa_df[i],0.25),2)
    p_50=round(np.quantile(visa_df[i],0.50),2)
    p_75=round(np.quantile(visa_df[i],0.75),2)
        #listprint(f'The 25% data is: {wage_25}'))
###############################################################
# list_values=[wage_len,wage_min,wage_max,wage_mean,wage_meadian,wage_std,
#             wage_25,wage_50,wage_75]
    list_values1.append([min,max,mean,meadian,std,p_25,p_50,p_75])


index_val=['min','max','mean','median','std','25%','50%','75']
df=pd.DataFrame(list_values1,columns=index_val,index=cols)
df

,min,max,mean,median,std,25%,50%,75
no_of_employees,-26.00,602069.00,5667.04,2109.00,22877.93,1022.00,2109.00,3504.00
yr_of_estab,1800.00,2016.00,1979.41,1997.00,42.37,1976.00,1997.00,2005.00
prevailing_wage,2.14,319210.27,74455.81,70308.21,52815.94,34015.48,70308.21,107735.51

In [69]:
columns=visa_df.select_dtypes(exclude='object').columns
columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**Transpose**
- .T
- ust it at last to transpose the table
- after transpose rows become column and column becomes rows
    - rows =====> columns
    - columns====> rows

In [72]:
# Transpose
df.T

        no_of_employees  yr_of_estab  prevailing_wage
min              -26.00      1800.00             2.14
max           602069.00      2016.00        319210.27
mean            5667.04      1979.41         74455.81
median          2109.00      1997.00         70308.21
std            22877.93        42.37         52815.94
25%             1022.00      1976.00         34015.48
50%             2109.00      1997.00         70308.21
75              3504.00      2005.00        107735.51

In [66]:
cols=['no_of_employees', 'yr_of_estab', 'prevailing_wage']
l1=[]
for i in cols:
    #countt=round(len(visa_df[i]),2)
    min=round(visa_df[i].min(),2)
    max=round(visa_df[i].max(),2) #pd
    mean=round(visa_df[i].mean(),2) #pd
    meadian=round(visa_df[i].median(),2) #pd
    std=round(visa_df[i].std(),2)
    ##############################################################
    p_25=round(np.quantile(visa_df[i],0.25),2)
    p_50=round(np.quantile(visa_df[i],0.50),2)
    p_75=round(np.quantile(visa_df[i],0.75),2)
    #print(f'The 25% data is: {wage_25}')
    l1.append([min,max,mean,meadian,std,p_25,p_50,p_75])
    ###############################################################
    #list_values=[wage_len,wage_min,wage_max,wage_mean,wage_meadian,wage_std,
               # wage_25,wage_50,wage_75]
    
index_val=['min','max','mean','median','std','25%','50%','75']
df=pd.DataFrame(l1,columns=index_val,index=cols).T
df

        no_of_employees  yr_of_estab  prevailing_wage
min              -26.00      1800.00             2.14
max           602069.00      2016.00        319210.27
mean            5667.04      1979.41         74455.81
median          2109.00      1997.00         70308.21
std            22877.93        42.37         52815.94
25%             1022.00      1976.00         34015.48
50%             2109.00      1997.00         70308.21
75              3504.00      2005.00        107735.51

In [64]:
list_values

[['len', 'min', 'max', 'mean', 'median', 'std', '25%', '50%', '75']]

**Describe**        
- It is for only numirical data

In [ ]:
l1

In [ ]:
visa_df.describe()

**Histogram**
- Histogram can get by matplotlib
- plt.hist()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(visa_df['prevailing_wage'])

In [ ]:
plt.hist(visa_df[['prevailing_wage',]])

from interval range
- 2.13670000e+00 to 3.19229500e+04
- 6038 members have salary

- 3.19229500e+04 to 6.38437634e+04
- 5504 members have salary

**Histogram gives 3 outpots**
- 1.frquuency
   - in each intervals range how much observations are there
- 2.interval
   - interval range
- 3.number of interval

In [ ]:
plt.hist(visa_df['prevailing_wage',bins: 11])

**checkpoint-1**

In [ ]:
v1=2.13670000e+00 
v2= 3.19229500e+04
con1=visa_df['prevailing_wage']>=v1
con2=visa_df['prevailing_wage']<v2
#con1 & con2
#visa_df[con1 & con2]
count1=len(visa_df[con1 & con2])
count1

In [ ]:
plt.hist(visa_df['prevailing_wage'],bins=100)

In [ ]:
plt.hist(visa_df['prevailing_wage'],bins=100)
plt.title('Histrogram')
plt.xlabel('Interval')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(14,3))
plt.subplot(1,3,1)
plt.hist(visa_df['prevailing_wage'],bins=40)
plt.title('Histrogram1')
plt.xlabel('Interval')
plt.ylabel('Frequency')
# plt.show()

####################################
plt.figure(figsize=(14,3))
plt.subplot(1,3,2)
plt.hist(visa_df['no_of_employees'],bins=40)
plt.title('Histrogram2')
plt.xlabel('Interval')
plt.ylabel('Frequency')
# plt.show()
##################
plt.figure(figsize=(14,3))
plt.subplot(1,3,2)
plt.hist(visa_df['yr_of_estab'],bins=40)
plt.title('Histrogram3')
plt.xlabel('Interval')
plt.ylabel('Frequency')
# plt.show()

In [ ]:
plt.subplot(1,3,2)
plt.hist(visa_df['yr_of_estab'],bins=100)
plt.title('Histrogram')
plt.xlabel('Interval')
plt.ylabel('Frequency')

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(18,3))
for i in range(len(cols)):
    plt.subplot(1,len(cols),i+1)
    plt.hist(visa_df[cols[i]],bins=40)
    plt.title(f'{cols[i]}Histrogra')
    plt.xlabel('Interval')
    plt.ylabel('Frequency')

**Histogram using Seaborn**
- hisplot
- distplot

In [ ]:
import seaborn as sns
sns.histplot(visa_df['prevailing_wage'])

In [ ]:
# distplot
sns.distplot(visa_df['prevailing_wage'])

In [ ]:
sns.displot(visa_df['prevailing_wage'])

**Inorder to avoide the warnings**

In [ ]:

import warnings
warnings.filterwarnings('ignore')
# distplot
sns.distplot(visa_df['prevailing_wage'])