In [1]:
a=10
b=20
c=a+b
c

30

In [5]:
================== EDA ==========================
1) Pandas : Data frame applications
2) Numpy : Numerical python All math applications
3) Matplotlib: used for plotting
4) Seaborn: used for plot
5) plotly: use for plot
6) Bokhe: plot
=================== Machine learning ==================
7) Sickit-learn: sklearn
===================== Deep Learning ==================
8) Tensorflow : Google
9) Keras
10) Pytorch
: Google
: FaceBook
====================== NLP ===========================
11) NLTK
: Natural langague tool kit
12) Scipy
================ BERT =============================
13) Transformers : Hugging face (Google)
============ Google models =======================
14) Specific google packages
============== Azure ML=========================
15) Azure packages
============= GenAI ==============================
16) Gemini : Google
17) ChatGPT : OpenAI
In [ ]:
====================== LangChain==================
18) LangChain packages

SyntaxError: unmatched ')' (4258657902.py, line 2)

## Create a DataFrame using list

In [ ]:
name=['Akash','Aniket','yash']
name

In [ ]:
#import pandas library/package
import pandas as pd

In [ ]:
# create a DataFrame
name=['Akash','Aniket','yash']
pd.DataFrame(name)

In [ ]:
name=['Akash','Aniket','yash']
age=[20,25,22]
pd.DataFrame(name,age)
#what is first positional argument: Data
#Second positional argument is: index

In [ ]:
# to avoide the above problem wu use zip function
name=['Akash','Aniket','yash']
age=[20,25,22]
pd.DataFrame(zip(name,age))

In [ ]:
name=['Akash','Aniket','yash']
age=[20,25,22]
city=['Pune','solapur','Hyd']
pd.DataFrame(zip(name,age,city))

In [ ]:
name=['Akash','Aniket','yash']
age=[20,25,22]
city=['Pune','solapur','Hyd']
data=zip(name,age)
pd.DataFrame(data,city)

In [ ]:
name=['Akash','Aniket','yash']
age=[20,25,22]
city=['Pune','solapur','Hyd']
pd.DataFrame(zip(name,age))

**Provide a columns  name**

In [ ]:
name=['Akash','Aniket','yash']
age=[20,25,22]
city=['Pune','solapur','Hyd']
pd.DataFrame(zip(name,age),columns=['Name','Age'])

In [ ]:
name=['Akash','Aniket','yash']
age=[20,25,22]
city=['Pune','solapur','Hyd']
pd.DataFrame(zip(name,age),city,columns=['Name','Age'])

In [ ]:
name=['Akash','Aniket','yash']
age=[20,25,22]
city=['Pune','solapur','Hyd']
s_data=pd.DataFrame(zip(name,age),city,columns=['Name','Age'])

**type**

In [ ]:
type(s_data)

**ADD new column**
- If you want to add new column  
- First you need to check the number of rows in already existed data  
- For example in above the dataframe has 3 rows      
- You need to create a new list with 3 rows    
- that list equate to the dataframe

In [ ]:
#step1: check no of rows
s_data

In [ ]:
#step2: create a list conating same items as in table
gen=['M','M','M']
gen

In [ ]:
#to add a new column
#DF_name[Col_name]=list_name
s_data['gen']=gen
s_data

In [ ]:
s_data['ge']=gen
s_data

**Drop the column(.drop)**
- In order to drop column we required 3 arguments
- Column name
  - The coulmn name we need to mention
- axis
  - axis=0 represents rows
  - axis=1 represnts columns
- inplace
  - we are drop column means we are modifying the data frame
  - so this modifications we want to save in same variable or different variable
  - If you want to keep in the same varaible the inplace=True
  - If you want to keep in the another varaible the inplace=False

In [6]:
s_data.drop('ge',
            axis=1,
            inplace=True)
s_data

NameError: name 's_data' is not defined

In [ ]:
s_data1=s_data.drop('gen',
            axis=1)
s_data